
$f-fam: TT Lakes;
$border-color: #D9FFF5;
$bg-color: #F8F8F8;


.header {
    border-bottom: 1px solid $border-color;
    background-color: #FFF;
    &__container {
        padding: 0px 16px 0px 16px;
    }
    &__nav {
    }

}
.header__hide-content{
    width: 100%;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    position: absolute;
    height:100vh;
    background-color: rgba(255, 255, 255, 0.9);
    transition: all 0.3s ease-in-out 0s;
}
.visible{
    visibility: visible;
    opacity: 1;
}
.services__main-content{

}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:24px;
    padding-bottom: 24px;
    align-items: center;
    max-height: 88px;
    &__section{
        display: flex;
        align-items: center;
        &:first-child::after{
            content: "";
            height: 32px;
            width: 2px;
            border-radius: 1px;
            background: #EAEAEA;
            margin: 0px 0px 0px 16px;
        }
    }

    &__item:not(:last-child){
        margin:0px 16px 0px 0px ;
    }
    &__item{
        &--laptop-nav{
            display: none;
        }
    }
    &__burger {
        position: relative;
    }
    &__repair {
    }
    &__check-status {
    }
}

.profile{
position: relative;
}





@media(min-width:481px){
    .profile:after{
        margin: 0px 0px 0px 7px;
        top:5px;
        position: absolute;
        content: "";
        height: 32px;
        width: 2px;
        border-radius: 1px;
        background-color: #EAEAEA;
    }
    
    .nav-header{
        &__item--laptop-nav{
            display: block;
        }
        &__section:first-child::after{
            content: none;
        }
        &__burger::after{
            content: "";
            top:8px;
            position: absolute;
            height: 32px;
            width: 2px;
            border-radius: 1px;
            background: #EAEAEA;
            margin: 0px 0px 0px 16px;
        }
        &__item + .logo{
            margin: 0px 0px 0px 16px;
        }
    }
}

@media(min-width:768px){
    .header__container {
        padding: 0px 24px 0px 24px;
    }   
    .profile:after{
        margin: 0px 0px 0px 20px;
    }
    
    .nav-header{
        &__item--laptop-nav + .profile{
            margin: 0px 40px 0px 0px;
        }
        &__burger::after{
            margin: 0px 0px 0px 20px;
        }
        &__item + .logo {
            margin: 0px 0px 0px 24px;
        }
    }
}
@media(min-width:1120px){

}