
.services {
    position: relative;
    &__container {
        padding: 0px 0px 50px 0px;
        border-bottom: 1px solid #D9FFF5;
    }
    &__desktop-content{
        display: none;
        padding: 42px 0px 0px 0px;
        justify-content: space-between;
    }
    &__desktop-items{
        display: flex;
        align-items: flex-start;
    
    }
    &__desktop-item{
        display: flex;
        align-items: center;
    }
    &__desktop-item:not(:last-child){
        margin: 0px 32px 0px 0px;
    }
    &__desktop-text{
        color: #1B1C21;
        text-align: right;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;
    }
    &__desktop-text:not(:last-child){
        margin: 0px 8px 0px 0px;
    }
    
    &__header {
        position: relative;
        font-size: 28px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: -0.6px;
        margin: 0px 0px 24px 0px;
    }
    &__header::before{
        content: '';
        position: absolute;
        left: -36px;
        top:0;
        width: 4px;
        height: 40px;
        background-image: url(/img/highlight.svg);
    }
    &__main-content{
    }
    &__description-content {
        padding: 0px 16px 0px 16px;
    }
    &__text {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
        min-width: 288px;
        margin: 0px 0px 16px 0px;
    }
    &__continue-link::before{
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        top:0px;
        left: 0;
        background-image: url(/img/read-more.svg);
        z-index:1;
    }
    &__text--laptop-text,
    &__text--desktop-text{
        display: none;
    }
    &__continue-link {
        margin: 0px 0px 24px 0px;
        position: relative;
        padding-left:32px;
        display: flex;
        vertical-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;
    }
    &__menu {
    }
    &__image{
        display: flex;
        justify-content: center;
        & img{
            width: 100%;
            height: 100%;
        }
    }
    &__description-content{
        display: flex;
        flex-direction: column;
    }
    
}

.header-main{
    padding-top: 24px;
    margin-left: 24px ;
}

.menu-services {
    padding: 0px 0px 0px 16px;
    position: relative;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    margin: 0px 0px 32px 0px;
    display: flex;
    align-items: center;

    &::after{
        content: '';
        position: fixed;
        left:100%;
        margin: 0px 0px 0px -24px;
        width:24px;
        height: 40px;
        background: linear-gradient(270deg, #F8F8F8 0.04%, rgba(248, 248, 248, 0.00) 100%)
        /* background-color: rebeccapurple; */
    }
    
    &__item {
        color:#7E7E82;
        white-space: nowrap;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;
    }
    &__item:not(:last-child){
        margin: 0px 20px 0px 0px;
    }
    &__item--active{
        border-radius: 6px;
        border: 2px solid #B8FFEC;
        background: #FFF;
        padding: 8px 9px 8px 16px;
    }
    &__link{

    }
}

@media(min-width:768px){
    .services{
        &__image {
            flex: 0 0 360px;
        }
        &__main-content{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0px 0px 32px 0px;
        }
        &__description-content {
            padding: 0px 0px 0px 16px;
        }
        &__main-content:last-child{
            margin: 0px 25px 0px 0px;
        }
        &__text--laptop-text{
            display: block;
        }
        &__text{
            max-width: 312px;
        }  
    }    
}
@media (min-width: 780px){
    .services__text {
        max-width: none;
        margin: 0px 30px 16px 0px;
    }
    
}

@media(min-width:1120px){
    .services{
        &__text{
            min-width: 490px;
        }
        &__description-content {
            padding: 0;
        }
        &__main-content:last-child {
            margin: 0;
        }
    }
    .menu-services{
        display: flex;
        margin: 0px 0px 19px 0px ;
        padding: 0px 0px 0px 0px;
        &__item:not(:last-child) {
            margin: 0px 19px 0px 0px;
        }
        &::after{
            display: none;
        }
    }

}

@media(min-width:1439px){
    // .header{
    //     display: none;
    //     &-main{
    //         display: none;
    //     }
    // }
    .header__container{
        display: none;
    }
    .header-main{
        display:none;
    }
    .services__desktop-content {
        display: flex;
    }
}
@media(max-width:1439px){
    .services__header::before {
        top:24px;
        left:-24px;
    }
}